<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqRjXpf0B12QgfN_5y1USiThhBbUz3uAk</string>
	<key>GCM_SENDER_ID</key>
	<string>450394184613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moregames.kapicua</string>
	<key>PROJECT_ID</key>
	<string>kapicua-5b41e</string>
	<key>STORAGE_BUCKET</key>
	<string>kapicua-5b41e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450394184613:ios:f75cafa5b95055fc86264c</string>
</dict>
</plist>